@import "../../styles/base.css";
@import "../../styles/reset.css";
@import "../../styles/utility.css";
@import "../../navbar.css";

.questions__section {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .questions__section .question {
    min-height: 25rem;
    min-width: 20rem;
    padding: 1rem var(--spacing-2) 0;
    background-color: var(--highlighted-color);
  }
  
  .question__header {
    display: flex;
    font-family: "Roboto Slab", serif;
    font-size: 1.2rem;
    color: var(--black-5)
  }
  
  .right-side {
    margin-left: auto;
  }
  
  .question-heading {
    font-size: 1.7rem;
    font-family: "Open Sans", sans-serif;
    color: var(--text-heading-color)
  }
  
  .answer-options {
    background-color: var(--black-1);
    margin: var(--spacing-1);
    padding: var(--spacing-1);
    border-radius: var(--spacing-10x);
    font-size: 1.2rem;
    border: 1px solid var(--purple-5);
    box-shadow: 0px 0px 0px var(--black-9);
    -webkit-transition:  box-shadow .5s ease-out;
  }
  
  .answer-options:not(.no-hover):hover {
    background-color: var(--purple-1);
    
  }
  .hover-transition:hover{
    box-shadow: 1px 8px 20px var(--black-9);
    -webkit-transition:  box-shadow .5s ease-in;
  }
  
  .question__body {
  
    padding: var(--spacing-10x);
  }
  
.category-label {
    display: flex;
    background-color: var(--green-2);
    width: fit-content;
    height: fit-content;
    padding: var(--spacing-10x);
    border-radius: var(--spacing-5x);
    font-weight: 600;
    color: var(--black-1);
  }
  .next-btn .btn-solid-primary{
    background-color: var(--purple-7);
  }
  
  