.bottom-gutter-xs {
    margin-bottom: 6px;
}

.bottom-gutter-sm {
    margin-bottom: 1rem;
}

.bottom-gutter-md {
    margin-bottom: 2rem;
}

.bottom-gutter-lg {
    margin-bottom: 3rem;
}

.bottom-gutter-xl {
    margin-bottom: 5rem;
}

.top-gutter-sm {
    margin-top: 1rem;
}

.top-gutter-lg {
    margin-top: 3rem;
}

.top-gutter-md {
    margin-top: 2rem;
}

.right-gutter-sm {
    margin-right: 10px;
}

.top-gutter-xl {
    margin-top: 5rem;
}

.ml-1 {
    margin-left: 1rem;
}

.ml-2 {
    margin-left: 2rem;
}

.ml-3 {
    margin-left: 3rem;
}

.mr-1 {
    margin-right: 1rem;
}

.mr-2 {
    margin-right: 2rem;
}

.mr-3 {
    margin-right: 3rem;
}


.flex-row {
    flex-direction: row;
}

.flex-col {
    flex-direction: column;
}

a {
    text-decoration: none;
}

.flex-container {
    display: flex;
    align-items: center;
}

.auto-margin {
    margin-left: auto;
}

.center-text {
    text-align: center;
}